{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem beatae commodi ullam iste repudiandae, qui eaque vitae rerum voluptatem voluptatum saepe esse nesciunt a molestiae quia illum debitis ut quae provident. Incidunt sequi corporis modi ullam sit accusamus, aperiam voluptatibus. Necessitatibus repellendus facere, fugit aspernatur distinctio sit officiis. Nihil cupiditate exercitationem nisi eveniet. Distinctio odio aperiam laudantium. Debitis nulla esse fuga facilis consequatur? Modi sequi officia est eligendi animi aspernatur optio quia reprehenderit aliquam sunt, recusandae, exercitationem impedit! Cum, ut et alias eum, corporis provident cumque fugit cupiditate magnam quod, tempora sequi! Ipsa voluptatem officia soluta eum delectus fugiat a?</p>
{% endblock %}